body {}

#network-panel {
  border: 1px solid #aaa;
}

.bgp-links line {
  stroke: #399;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #ddd;
  stroke-width: 1.5px;
}

.node-label {
  fill: #337ab7;
}
