<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/public/third_party/bootstrap/dist/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <div id="network-panel">
    <div>

    <script>
        var host = '<%= host %>';
    </script>
    <script type="text/javascript" src="/public/third_party/jquery/dist/jquery.js"></script>
    <!-- <script type="text/javascript" src="/public/third_party/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/public/third_party/d3/d3.min.js"></script>
    <script type="text/javascript" src="http://<%= host %>:35730/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="http://<%= host %>:35729/livereload.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
  </body>
</html>
